<form action="/" method="get">
  <fieldset>
    Path regexp: <input type="text" value="<%= params['path'] %>"name="path" />
    Status: <input type="text" value="<%= params['status'] %>"name="status" />
    <br/>
    Time from: <input type="text" value="<%= params['time_from'] %>"name="time_from" />
    Time to: <input type="text" value="<%= params['time_to'] %>"name="time_to" />
  </fieldset>
  <fieldset>
    <legend>From:</legend>
    <%= Helper::date_select 'created_at_from', @created_at_from %>
  </fieldset>
  <fieldset>
    <legend>To:</legend>
    <%= Helper::date_select 'created_at_to', @created_at_to %>
  </fieldset>
  <fieldset>
    <select name="sort_param">
    <% ['created_at', 'time', 'path', 'status'].each do |param| %>
      <option <%= params['sort_param'] == param ? 'selected="selected"' : '' %> value="<%= param %>">
        <%= param %>
      </option>
    <% end %>
    </select>
    
    <select name="sort_dir">
    <% ['asc', 'desc'].each do |param| %>
      <option <%= params['sort_dir'] == param ? 'selected="selected"' : '' %> value="<%= param %>">
        <%= param %>
      </option>
    <% end %>
    </select>
  </fieldset>
  <input type="submit" value="Submit" />
</form>

Time: <%= @timings.min_time %> - <%= @timings.max_time %>

<table>
  <tr>
    <th>
      URI
    </th>
    <th>
      When
    </th>
    <th>
      Status
    </th>
    <th>
      Time
    </th>
  </tr>
  <% @timings.each do |timing| %>
    <tr> 
      <td> 
        <%= timing['path'] %>
      </td>
      <td> 
        <%= timing['created_at'].strftime("%d/%m/%Y at %H:%M") %>
      </td>
      <td> 
        <%= timing['status'] %>
      </td>
      <td> 
        <%= timing['time'] %>
      </td>
    </tr>
  <% end %>
</table>

<% if @timings.has_prev_page? %>
  <%= Helper.link_to('previous', '/', params.merge({page: @page - 1})) %>
<% end %>

|

<% if @timings.has_next_page? %>
  <%= Helper.link_to('next', '/', params.merge({page: @page + 1})) %>
<% end %>
